{# Copyright 2018-present Hathi authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}

<!doctype html>
<html>
<head>
    <title>
        {% block title %}Welcome{% endblock %} - Hathi
    </title>
	<link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <style type="text/css">
        body, html, .container {
            height: 100%;
        }
        {% block styling %}{% endblock %}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hathi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("front.inbox") }}">Inbox</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("front.outbox") }}">Outbox</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("front.following") }}">Following</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("front.followers") }}">Followers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("note.new_note") }}">New Note</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <!-- any banner here-->
    {% for i in get_flashed_messages(with_categories=true) %}
        {% if i[0] == 'error' %}
            <div class="alert alert-danger" role="alert">
        {% elif i[0] == 'info' %}
            <div class="alert alert-info" role="alert">
        {% else %}
            <div class="alert alert-primary" role="alert">
        {% endif %}
        {{ i[1] }}
        </div>
    {% endfor %}
    <!-- main -->
    <div class="container-fluid">
        <div class="row justify-content-md-center">
        {% if not self.content() and not current_user.is_authenticated %}
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4"> Welcome to Hathi</h1>
                    <p class="lead">Login to continue</p>
                </div>
            </div>
            <div class="col-4 col-offset-4">
                <form method="POST" action="/login">
                    <p>Username: <input type="text" name="uname"></p>
                    <p>Password: <input type="password" name="pass"></p>
                    {% if next_page %}
                        <input type="hidden" name="next" value="{{ next_page }}" />
                    {% endif %}
                    </p><input type="submit" value="Submit" /></p>
                </form>
                <p><a href="/register">Create account</a></p>
            </div>
        {% else %}
            <div class="col-6">
                {% block content %}{% endblock %}
            </div>
        {% endif %}
        </div>
    </div>
    <!-- end main -->
    <script type="application/javascript">{% block viewscript %}{% endblock %}</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
