{# Copyright 2018-present Hathi authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}

{% extends 'base.html' %}

{% block styling %}
{% endblock %}

{% block header %}
    <h1>{% block title %}Actor{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="col-6">
        <form method="POST" action={{ url_for(".register") }}>
            <div class="form-group">
                <label for="fname">Full name:</label>
                <input type="text" id="fname" name="fname"
                    class="form-control {% if fname_invalid %}is-invalid{% endif %}" 
                    value="{{ fname }}"/>
                {% if fname_invalid %}
                    <div class="invalid-feedback">
                        Full name required
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label form="uname">User name:</label>
                <input type="text" id="uname" name="uname"
                    class="form-control {% if uname_invalid %}is-invalid{% endif %}"
                    value="{{ uname }}"/>
                {% if uname_invalid %}
                    <div class="invalid-feedback">
                        User name required
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" id="passwd" name="passwd"
                    class="form-control {% if passwd_invalid %}is-invalid{% endif %}" />
                {% if passwd_invalid %}
                    <div class="invalid-feedback">
                        Password required
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
