{# Copyright 2018-present Hathi authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}

{% extends 'base.html' %}

{% block title %}Note{% endblock %}

{% block content %}
    <p>From: {{ attributed_to if attributed_to != None }}</p>
    <h1>{{ summary if summary != None }}</h1>
    <pre>{{ content if content != None }}</pre>
    <a class="btn btn-primary" href="{{ url_for("note.reply_note", replyto=uid) }}">
        Reply
    </a>
    {% if reply_to %}
        <p>In reply to: <a href="{{ url_for("note.index", id=reply_to) }}">{{ reply_summary }}</a></p>
    {% endif %}
{% endblock %}
